<div align="center">
	<h1> Showing Details of: <%= @employee.name %></h1>
	<b>Email: </b><%= @employee.email %><br><br>
	<b>Contact: </b><%= @employee.phone %><br><br>
	<b>Gender: </b><%= @employee.gender %><br><br>
	<b>Skills: </b><%= @employee.skills %><br><br>
	<b>Department: <%= @employee.department %><br><br>
	<td><%= link_to 'Home', employee_index_path %></td>
</div>